body {
    font-family:courier,arial,helvetica;
    background: #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1rem!important;
}

.calculadora {
    transition: all 0.5s ease;
    background: #b8c1f7;
    border-radius: 1rem;
    max-width: 500px;
    overflow: hidden;
    box-shadow: -2px 3px 7px -3px rgba(0,0,0,0.75);
}
.calculadora .tela {
    padding-bottom: 1rem;
    padding: 1rem 2rem 3rem 2rem;
    width: 100%;
}
.calculadora .tela .mode {
    cursor: pointer;
    position: relative;
    margin-bottom: 1rem;
    display: block;
    width: 25px;
    height: 25px;
}
.calculadora .tela .mode .icon {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}
.calculadora .tela .mode .icon:nth-child(2) {
    opacity: 0;
}
.calculadora .tela .mode .icon:nth-child(1) {
    opacity: 1;
}
.calculadora .tela .mode.active .icon:nth-child(2) {
    opacity: 1;
}
.calculadora .tela .mode.active .icon:nth-child(1) {
    opacity: 0;
}
.calculadora .tela .mode .icon i {
    font-size: 30px;
}
.calculadora .tela .historico {
    font-size: 30px;
    display: block;
    margin: 2rem 0;
    font-weight: bold;
}

.calculadora .tela input {
    background: #b8c1f7;
    border: none;
    outline: none;
    font-size: 50px;
    width: 100%;
    transition: all 0.5s ease;
    font-family:courier,arial,helvetica;
    font-weight: bold;
}
.calculadora .botoes {
    display: flex;
}
.calculadora .botoes .numeros {
    background: #f9f9f9;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    transition: all 0.5s ease;
}

.botoes button {
    cursor: pointer;
    width: 33.33%;
    background: none;
    border: none;
    font-size: 35px;
    padding: 1rem;
    transition: all 0.5s ease;
    border: 1px solid #fff;

}
.botoes button.big {
    width: 66.67%;
}

.botoes button:hover {
    border: 1px solid #b8c1f7;
    color: #b8c1f7;
}
.calculadora .botoes .operadores button { 
    width: 100%;
}
.calculadora .botoes .operadores { 
    background: #fff;
    width: 20%;
}
/* Escuro mode */
.calculadora.active .tela {
    color: #fff;
}

.calculadora.active .tela input {
    background: #172d67;
    color: #fff;
}
.calculadora.active {
    background: #172d67;
}
.calculadora.active .botoes button {
    color: #fff;
    border: #172d67 1px solid;
}
.calculadora.active .botoes button:hover {
    background: #050918;
}
.calculadora.active .botoes .numeros {
    background: #050c26;
}
.calculadora.active .botoes .operadores button { 
    background: #050c26;
}
.calculadora.active .botoes .operadores button:hover {
    background: #050918;
}